{% extends "base.html" %}
{% load static %}
{% block title %}Create Subscription{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.extra_tags }}">
        <span>{{ message }}</span>
    </div>
    {% endfor %}
{% endif %}

<form method="post" class="form-vertical" enctype='multipart/form-data'>
    <p class="fs-3 fw-bold text-center text-white">Create a New Account</p>
    {% csrf_token %}

    {{form}}
    <div class="text-center">
        <input class="btn btn-dark px-3 my-2" type="submit" value="Create">
    </div>
</form>
{% endblock %}