{% extends "base.html" %}
{% load static %}
{% block title %}{{request.user.username}}'s Profile{% endblock %}
{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.extra_tags }} m-1 mb-3">
        <span>{{ message }}</span>
    </div>
    {% endfor %}
{% endif %}

<div class="d-block">
    <img src="{{request.user.profilepic.url}}" class="img-fluid rounded-circle" alt="Profile Picture" width="75" height="75">
    <span class="h5 mx-2 fw-bold">{{user.username}}</span>
</div>

<table class="table my-4">
    <tbody>
        <tr>
            <th scope="row">Username</th>
            <td>{{request.user.username}}</td>
        </tr>
        <tr>
            <th scope="row">First Name</th>
            <td>{{request.user.first_name}}</td>
        </tr>
        <tr>
            <th scope="row">Last Name</th>
            <td>{{request.user.last_name}}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{request.user.email}}</td>
        </tr>
        <tr>
            <th scope="row">Admin Status</th>
            <td>{{request.user.is_superuser}}</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <span>
        <a href="{% url 'users_change_password' %}" class="btn btn-secondary">Change Password</a>
        <a href="{% url 'users_change_details' %}" class="btn btn-primary">Change Details</a>
    </span>
    <button  class="btn btn-danger" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_user">
        Delete Account
    </button>
</div>


 <!-- DELETE USER ACCOUNT MODAL -->
 <div class="modal fade" id="delete_user" tabindex="-1" aria-labelledby="delete_subscription_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leaveTeamModalLabel">Delete Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your account? This action cannot be undone. All your data will be lost. This includes your teams, subscriptions, and all of your data.
            </div>
            <div class="modal-footer">
                <a class="btn btn-success w-100 mb-1" href="{% url 'users_delete' %}"><i class="bi bi-box-arrow-right mx-2"></i>Yes</a>
                <button class="btn btn-danger w-100" data-bs-dismiss="modal"><i class="bi bi-x-lg mx-2"></i>No</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}